.layout-container{
    height: 100vh;
    display: flex;
    align-items: row;
    justify-content: space-between;
}

.left {
    display: block;
    text-align: left;
    width: 50%;
}

.right{
    display: block;
    width: 50%;
}

#preComp {
    display: flex;
    justify-content: center;
}

#preComp pre {
    width: fit-content;
    font-size: 8px;
    color: var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color), transparent 80%);
}

/* ThemeSwitcher */
#theme-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* ThemeSwitcher END */